a:visited{
	color: white;
}
.btn-submit{
  background: black;
  border: 0;
}
.modal-div{
	padding:10px 0  10px 20px;
	color: #666666;
	font-size: 18px;
	
}
.mod-button{
	width:70px;
	height: 40px;
	font-size: 16px;
	line-height: 40px;
	color: #fff;
	border-radius: 2px;
}
.btn-cansal{
	 border: 1px solid black;
	 color: black;
}
.text-input{
	height: 40px;
	margin: 0;
	padding: 0 20px;
	vertical-align: middle;
	background: #f8f8f8;
	border: 1px solid #ddd;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	font-weight: 300;
	line-height: 50px;
	color: #888;
}
.input-size1{
	width: 450px;
}
.text-input:hover,active,visited{
	border: 1px solid black;
}
.calendar {
	position: relative;
	font-family: 'Century Gothic','Segoe UI', Calibri, Arial;
	font-size: 12px;
	border-collapse: collapse;
	margin: 0; padding: 0;
	z-index: 4;
	border:1px solid rgba(0,0,0,0.08);
	width: 550px;
	text-align: center;
	background-color: #FFF;
}
.calendar th,
.calendar td {
	text-align: center;
	-webki-ttransition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.calendar th:first-child,
.calendar td:first-child {
	margin-left: 5px;
}
.calendar span {
	padding: 0px 0px; 
	display: block;
}
.calendar .month {
	padding: 15px;
}

.calendar .pMDate, .calendar .nMDate { color: black; }
.calendar .date, .calendar .pMDate, .calendar .nMDate, .calendar .month { cursor: pointer; }
.calendar .date.disabled, .calendar .pMDate.disabled, .calendar .nMDate.disabled { cursor: not-allowed; }
.calendar .date:not(.disabled):hover, .calendar .pMDate:not(.disabled):hover, .calendar .nMDate:not(.disabled):hover, .calendar .month:hover { background-color: #E2E2E2; }
.calendar .date:not(.disabled):active, .calendar .pMDate:not(.disabled):active, .calendar .nMDate:not(.disabled):active, .calendar .month:active { background-color: black; color: white; }
.calendar .selected {
	background-color: black !important;
	color: white !important;
}

.calendar tr:first-child th {
	background-color: #FFF;
	font-size: 14px;
}

.calendar tr:first-child th { cursor: pointer; color:#000; }
.calendar tr:first-child th:hover { color:#9D9D9D }
.calendar tr:first-child th:active { color: #22A7F0; }
.calendar thead tr:nth-child(2) th { color:black;  }
.calendar #prev, .calendar #next {
	font-family: 'Times New Roman';
	font-size: 20px;
	padding: 0;
}
.calendar #today {
	text-align: center; cursor: pointer;
	color: black;
}
.calendar #today:hover { color: #666666; }
.calendar #today:active { color: #000; }
.calendar #currDay { color:black; }
.datepicker {
	background: url('./icon.png') transparent right no-repeat;
	background-size: contain;
}
.select{
	
height: 40px;
margin: 0;
padding-left: 20px;
width: 450px;
vertical-align: middle;
background: #f8f8f8;
border: 1px solid #ddd;
appearance:none;  
-moz-appearance:none;  
-webkit-appearance:none;
font-family: 'Roboto', sans-serif;
font-size: 16px;
font-weight: 300;
line-height: 40px;
color: #888;
}