a {
	text-decoration: none;
	color: #000000;
}

a:visited,
a:hover {
	text-decoration: none;
	color: #000000;
}

.page-header {
	background: #f5f5f5;
	margin-top: 20px;
	border-bottom: none;
	padding: 30px 0;
}

.page-header h1 {
	font-weight: 200;
	margin: 0 0 6px 0;
}

iframe {
	border: 0;
}

.page-two {
	padding: 0 50px;
}

.type_table {
	padding: 30px 0;
}


.table-center {
	text-align: center;
	font-weight: 200;
	font-size: 18px;
	width: 25%;
}

.table-cell {

	border-right: 1px solid #e3e2e8
}

.table-color {
	background-color: #F5F5F5;
	text-align: center;
	height: 40px;
}

.button {
	height: 30px;
	width: 60px;
	color: white;
	border: none;
	background-color: #000000;


}
.button-size{
	height: 40px;
	width: 200px;
}

.input {
	height: 40px;
	width: 100%;
	border: 1px solid #BBBBBB;
	padding: 0 20px;
	margin: 10px 0;
	font-size: 17px;
	font-weight: 200;

	color: #A7A7A7;
}

.input:hover {
	border: 1px solid black;
}
.modal-div{
	color: #4E595F;
	font-size: 16px;
	font-weight: 200;

}
.add-button{
	padding-left: 100%;

}
